
div {
  padding: 2px 8px;
}

.App {
  position: relative;
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.Notif-h {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 4px solid #e0003c;
}
